@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --jordy-blue: #91c4f2ff;
    --vista-blue:  #8ca0d7ff;
    --african-violet: #9d79bcff;
    --purpureus-: #a14da0ff;
    --mardi-gras: #7e1f86ff;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--mardi-gras);
}
// header/top section 

li, a, button {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
}

.logo {
    margin-right: auto;
    cursor: pointer;
}

.logo {
    width: 8rem;
    height: 4rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: #fff;
}

.nav-links li a:hover {
    color: var(--vista-blue)
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--vista-blue);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

button:hover {
    background-color: var(--jordy-blue);
    opacity: .6;
}